@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: #20e894;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5vh);
  border-radius: 1vh;
  box-shadow: 0 2vw 4vh rgba(0, 0, 0, 0.2);
}
.form h3 {
  font-size: 20vh;
  color: rgba(255, 255, 255, 0.2);
  padding-bottom: 0.1vh;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #20e894;
  width: 100vw;
  height: 100vh;
}
.form h2 {
  font-size: 3vh;
  color: rgb(254, 254, 254, 0.8);
  letter-spacing: 0.2vw;
  margin-bottom: 1vh;
  margin-top: 0;
}
.form h3 {
  margin: 0;
  color: azure;
}
.form .inputBx {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  width: 100vw;
}
.form .inputBx span p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20vh;
  height: 17vh;
  outline: none;
  border: none;
  border: 1vh solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 1vh 2vw;
  border-radius: 1vh;
  color: rgb(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  box-shadow: 0 1vw 1vh rgba(0, 0, 0, 0.05);
}

.form h1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 4.5vh;
  font-weight: bold;
}

a {
  padding: 0.5rem 3rem;
  font-size: 2rem;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
  border-color: none;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 420px) {
  .form h3 {
    font-size: 5rem;
  }
}
